.btn_next{
    margin-top: 50px;
    width: 165px;
    height: 60px;
    border-radius: 30px;
    background: #B58DED;
    border: none;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(181, 141, 237, 0.7), 0 6px 20px 0 rgba(181, 141, 237, 0.9);
    cursor: pointer;
}

.phone_area{
    align-content: center;
    border-radius: 22px;
    margin-bottom: 35px;
    margin-top: 50%;
    width: 100%;
    height: 64px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.phone_input{
    margin-top: 1.2rem;
    font-family: 'Montserrat regular';
    font-size: 20px;
    text-align: center;
    border: none;
}

.title_area{
    font-family: 'Montserrat regular';
    color: rgba(151, 131, 250, 1.7);
    text-align: center;
    font-size: 17px;
}

.phone_input:focus {
    outline: none;
}